/* app css stylesheet */

body{
  padding-top : 50px;
}

.sr-map-area{
  height : calc(100vh - 50px);
}

.sr-search-input{
  margin : 10px;
}

.sr-search-area{
  padding : 0 5px;
  background-color: #e8eced;
  height: calc(100vh - 50px);
}

.sr-list-wrapper {
  height : calc(100vh - 100px);
  overflow : auto;
}
